/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenitoreRiferimento {
  max-width: 900px;
  margin: 0 auto;
}

/* NAV */
nav {
  height: 70px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenitoreNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 20px;
  background-color: orange;
  border: 1px dotted #000;
  padding-left: 20px;
}

.menu {
  height: 20px;
  background-color: orange;
  border: 1px dotted #000;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li:not(:last-child) {
  margin-right: 10px;
}

ul li {
  list-style: none;
}

.login {
  height: 20px;
  background-color: orange;
  border: 1px dotted #000;
  padding-right: 20px;
  text-align: right;
}

/* HEADER */
.bigHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: rgb(21, 21, 138);
}

.minHeader {
  width: 660px;
  height: 250px;
  background-color: rgb(239, 162, 247);
  border: 1px dotted #000;
}

/* PROPRIETA IN COMUNE ALLE SEZIONI*/

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sezione-container {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sezione_immagine {
  height: 300px;
  background-color: rgb(43, 174, 226);
  width: 60%;
  border: 1px dotted #000;
}

.sezione_testo {
  height: 300px;
  background-color: pink;
  width: 40%;
  border: 1px dotted #000;
}

/* INIZIO SEZIONI */

.sezione-uno,
.sezione-tre {
  height: 350px;
  background-color: rgb(255, 255, 255);
}

.sezione-due {
  height: 350px;
  background-color: rgb(209, 209, 209);
}

.sezione-quattro {
  height: 500px;
  background-color: rgb(209, 209, 209);
}

.sezioneQuattro_contenuto {
  width: 100%;
  height: 400px;
  background-color: green;
}

/* FINE SEZIONI */

.footer {
  height: 500px;
  background-color: rgb(48, 48, 48);
}

.box {
  height: 425px;
  background-color: purple;
  border: 1px dotted #000;
}

.footer-uno {
  flex-grow: 2;
}

.footer-due {
  flex-grow: 1;
}

.footer-tre {
  flex-grow: 1;
}

.footer-quattro {
  flex-grow: 1;
}

.footer-cinque {
  flex-grow: 1;
}
